@using OneInc.Models
@model List<Result>

@{
    ViewBag.Title = "Список результатов";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Вопрос</th>
                                <th>Ответ</th>
                                <th>Голосовой ответ</th>
                                <th>Управление</th>
                            </tr>
                        </thead>
                        @foreach (Result q in Model)
                    {
                            <tr>
                                <td>@q.Id</td>
                                <td>@q.Option.Question.Title</td>
                                <td>@q.Option.Value</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(q.VoiceBase64))
                                {
                                        <audio controls>
                                            <source src="data:audio/wav;base64,@q.VoiceBase64" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                }
                                </td>
                                <td>
                                    <a href="/admin/result/details/@q.Id" class="grid-manage-icon glyphicon glyphicon-eye-open" title="Открыть"></a>
                                    <a href="/admin/result/edit/@q.Id" class="grid-manage-icon glyphicon glyphicon-pencil" title="Редактировать"></a>
                                    <a href="/admin/result/delete/@q.Id" class="grid-manage-icon glyphicon glyphicon-trash" title="Удалить"></a>

                                </td>
                            </tr>
                    }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
