<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fingram23.ru:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://5.101.77.101:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>fingram23</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WINSERV2016\CloudAdmin</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=WINSERV2016\SQLEXPRESS;Initial Catalog=OneInc;Integrated Security=True;Persist Security Info=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OneInc.Models.AppContext, OneInc" MigrationConfiguration="OneInc.Migrations.Configuration, OneInc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AppConnection-Web.config Connection String">
      <ParameterValue>Data Source=WINSERV2016\SQLEXPRESS;Initial Catalog=OneInc;Integrated Security=True;Persist Security Info=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AppConnection-Web.config Connection String">
      <ParameterValue>Data Source=WINSERV2016\SQLEXPRESS;Initial Catalog=OneInc;Integrated Security=True;Persist Security Info=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AppConnection-Web.config Connection String">
      <ParameterValue>Server=SQL5036.Smarterasp.net;Database=DB_9EEA10_oneinc;User Id=DB_9EEA10_oneinc_admin;Password=oneinc1234</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>