<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    
                    <li>
                        <a href="@Url.Action("Index", "Question", new { area = "Admin" })"><i class="fa fa-home"></i> Вопросы</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Option", new { area = "Admin" })"><i class="fa fa-home"></i> Варианты ответов</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Result", new { area = "Admin" })"><i class="fa fa-home"></i> Результаты</a>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>